/*GRID*/
.row{
    max-width: 114rem;
    margin: 0 auto;
}
.row:not(:last-child){
    margin-bottom: 8rem;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
[class^="col-"]{
    float: left;
}
[class^="col-"]:not(:last-child){
    margin-right: 2%;
}
.row .col-1-of-2{
    width: calc(49%);
}
.row .col-1-of-3{
    width: 32%;
}
.row .col-2-of-3{
    width: 66%;
}
.row .col-1-of-4{
    width: 23.5%;
}
.row .col-2-of-4{
    width: 49%;
}
.row .col-3-of-4{
    width: 74.5%;
}